@font-face {
  font-family: SourceSansPro-Regular;
  src: url('fonts/source-sans-pro/SourceSansPro-Regular.ttf'); 
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url('fonts/source-sans-pro/SourceSansPro-Bold.ttf'); 
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url('fonts/source-sans-pro/SourceSansPro-SemiBold.ttf'); 
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}

body, html {
	font-family: SourceSansPro-Regular, sans-serif;
}

body{
  margin-top: 5%;
}

.container {
  max-width: 960px;
  padding: 5%;
}

.lh-condensed { line-height: 1.25; }

/* bottone per registrarsi */

#bottone_submit {
  font-weight: bold;
  width: 500px;
}

/*bordi dei campi da riempire */

#firstName, #lastName, #username, #email, #cc-name, #cc-number,  #cc-expiration, #cc-cvv{
  border-color: #dc3545;
}

/* roba della navbar */

#welcome_label{
  color: red;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  cursor: pointer;
}

.my_button{
  color: #dc3545;
  background-color: transparent;
  background-image: none;
}

.my_button:hover {
  color: rgb(205, 181, 181);
}

#button_signin{
  background-color: #dc3545;
  color:white;
}

#sfondo{
  width: 100%;
  position: fixed;
  object-fit: cover;
  height: -webkit-fill-available;
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}
